.documentation-sidebar-nav
  - data.documentation.each do |title, section|
    %ul.nav.sidebar-nav
      %li.title= title
      - section.subsections.each do |subsection|
        %li{ class: current_page.path =~ Regexp.new(subsection.url) ? 'active' : '' }
          %a{href: "/documentation/#{subsection.url}"}= subsection.title